<body>

<% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
<% end %>

<!--ここから下は一覧テーブルだよ-->
  <h1>Books</h1>


<table>
   <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3">本当は空だよ</th>
    </tr>
   <% @books.each do |book| %>
    <tbody>
      <td><span><%= book.title %></span></td>
      <td><span><%= book.body %></span></td>
      <td>
        <span><%= link_to "Show", "/books/#{book.id}" %></span>
        <span><%= link_to "Edit", "/books/#{book.id}/edit" %></span>
        <span><%= link_to "Destroy","/books/#{book.id}", method: :delete, "data-confirm" => "Are you sure?" %></span>

      </td>
    </tbody>

   <% end %>

</table>

<!-- ここから下は投稿フォームだよ-->

  <h2>New book</h2>

  <% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <!--↑ここまでエラー処理-->

<!--新規投稿をここに記入-->

  <div class="forms">
    <%= form_with model: @book, url: '/books', method: :post do |f| %>
      <div class="form">
        <label>Title</label>
        <%= f.text_field :title %>
      </div>
      <div class="form">
        <label>Body</label>
        <%= f.text_area :body %>
      </div>

      <input type="submit" value="Create Book" class="btn">
    <% end %>
  </div>
</body>