<body>
  <!--サクセスメッセージ-->
  <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
  <% end %>

  <p>
    <strong>Title: </strong>
    <%= @data.title %>
  </p>


  <p>
    <strong>Body: </strong>
    <%= @data.body %>
  </p>



  <span><%= link_to "Edit", "/books/#{@data.id}/edit", class: "link" %></span>
  <span>|</span>
  <span><%= link_to "Back", "/books", class: "link" %></span>
</body>
